.product-balloon {
  position: relative;
  margin: 50px;
  background-color: var(--menu);
  height: 100px;
  &:not(.inverted) {
    &::before {
      display: flex;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid var(--menu);
      content: "";
      top: -30px;
      position: absolute;
      left: calc(50% - 30px);
    }
  }
  &.inverted {
    &::before {
      display: flex;
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid var(--menu);
      content: "";
      bottom: -30px;
      position: absolute;
      left: calc(50% - 30px);
    }
  }
}