.text-img-block {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  animation: 2s animation;
  align-items: center;
  color: var(--title);
  > img {
    height: 300px;
  }
}

@keyframes animation {
  from {
    bottom: -60px;
  }
  to {
    bottom: 20px;
  }
}